.Pigier {
	border: 3px ridge #4CAF50;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1.2);
}

.Ma photo {
	border:4px ridge #2196F3;
}

.ministère {
	border: 3px ridge #4CAF50;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1.2);
}
